header{
    background-image: url("../img/drift.jpg");
    background-size: cover;
    background-position: center;
}

span[data-text="j"]::after{
    content: "VM";
    color: transparent;
    background-image: linear-gradient(45deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082,#9400d3);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    font-size:1.5em;
    animation:rainbow 1s infinite;
}

.banner-background{
    background-color:#121213c5;
}

header > nav > h3:first-child {
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    /* font-size: 2em; */
}

@keyframes rainbow{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 200% 50%;}
}

span[data-text] + span{
    text-shadow: 0 2px 0 cyan,2px 0 0 magenta,-2px -2px 0 yellow;
}

header > nav{
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > nav > menu{
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: 600;
}

header > nav > menu a{
    color:white;
    transition: font-size 0.3s;
}

header > nav > menu a:hover{
    font-size: 1.2em;
}

#burger{
    display: none;
}

header > nav > label[for="burger"]{
    display: none;
}

@media (max-width:768px){
    header > nav{
        position: relative;
    }

    header > nav > label[for="burger"]{
        display: block;
        z-index: 2;
    }

    header > nav > menu{
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: darkred;
        z-index: 1;
        transition: all 0.3s;
        overflow: hidden;
        justify-content: center;
    }

    header > nav > label[for="burger"]:has(#burger:not(:checked)) + menu{
        height: 0;
    }

    header > nav > label[for="burger"]:has(#burger:checked) + menu{
        height: 100vh;
    }
}
